# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/*
!/media/.gitkeep
/staticfiles/

# IDE
.vscode/
.idea/
*.swp

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Distribution
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
